<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC P2P n:m File Transfer</title>
    <style>
        #messages {
            border: 1px solid #ccc;
            height: 200px;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        .message {
            padding: 5px;
            border-bottom: 1px solid #eee;
        }
    </style>
</head>
<body>
<h1>WebRTC P2P n:m File Transfer</h1>
<form id="roomForm">
    <label for="roomInput">Room Name:</label>
    <input type="text" id="roomInput" required>
    <button type="submit">Join Room</button>
</form>

<button id="leaveRoomBtn" style="display:none;">Leave Room</button>
<div id="messages"></div>
<input type="file" id="fileInput" style="display:none;">

<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js">

</script>
</body>
</html>
